/* Змінні */
:root {
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
}

/* Базові */
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background: var(--white);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.border {
  border-bottom: 1px solid var(--cornflower);
}
.flex-header {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-studio-header {
  color: var(--navyblue);
}

.navigation {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-decoration: none;
  padding: 24px 0;
}
.navigation:hover,
.navigation:focus {
  color: var(--ocean);
}
.current {
  color: var(--ocean);
  position: relative;
}
.current::after {
  content: "";
  display: block;
  border-radius: 2px;
  background-color: var(--ocean);
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.address {
  font-style: normal;
}
.link-address {
  color: var(--slate);
}
.link-address:hover,
.link-address:focus {
  color: var(--ocean);
}

/* Hero */

.hero {
  background: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding: 188px 0;
}
.hero-header {
  color: var(--white);

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: var(--white);
  letter-spacing: 0.04em;
  background: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* Features */
.features {
  padding: 120px 0;
}
.features-flex {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.header-second {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);
}
.header-feature {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.header-feature.list-item {
  margin-bottom: 8px;
}

.text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icons-features {
  width: 64px;
  height: 64px;
}
.icons-fetures-container {
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
}
/* Occupation */
.occupation-wrap {
  padding-bottom: 120px;
}
.header-second.occupation {
  margin-bottom: 72px;
}
.list.occupation-flex {
  display: flex;
  gap: 24px;
}
.occupation-flex {
  flex-basis: calc((100%-48px) / 3);
}
/* Team */
.team-flex {
  display: flex;
  gap: 24px;
  flex-basis: calc((100%-72px) / 4);
}
.team {
  background: var(--cloud);
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-header {
  margin-bottom: 72px;
}
.team-point {
  background-color: var(--white);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team-item-container {
  padding: 32px 0;
}
.header-feature.team-item {
  margin-bottom: 8px;
}
.team-inside-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.team-inside-item {
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}
.team-list-icons {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/* Customers */
.customers-container {
  padding: 120px 156px;
  background-color: var(--white);
}
.header-customers {
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-list-item {
  flex-basis: calc((100% - 5 * 24px) / 6);
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
}
.customers-item-icon {
  width: 104px;
  height: 56px;
  fill: var(--light-slate);
}

/* Footer */
.footer-container {
  display: flex;
  gap: 120px;
}
.logo-studio {
  color: var(--cloud);
}
.footer {
  background: var(--navyblue);
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.text-footer {
  color: var(--cloud);
  max-width: 264px;
}

.social-links {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
.social-links-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.social-links-item {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  position: relative;
}
.social-list-icons {
  height: 24px;
  width: 24px;
  fill: var(--cloud);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
/* Second page portfolio */
.projects {
  padding: 96px 0 120px 0;
}
.btn-nav-flex {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-basis: calc((100%-120px) / 5);
  margin-bottom: 72px;
}
.button-portfolio {
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  background: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio:active {
  color: var(--white);
  background: var(--ocean);
  border: 1px solid transparent;
}
.projects-flex {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.projects-list-item {
  width: calc((100% - 48px) / 3);
}
.projects-item-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.projects-item-caption {
  margin-bottom: 8px;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
